:root {
  --clr-primary: DeepSkyBlue;
  --clr-danger: crimson;
  --clr-success: SpringGreen;
  --clr-light: GhostWhite;
  --clr-dark: DarkSlateGrey;
}

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

main {
  padding: 10vh 0;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 700;
}

h1,
.heading-1 {
  font-size: 2em;
}

h2,
.heading-2 {
  font-size: 1.5em;
}

h3,
.heading-3 {
  font-size: 1.125em;
}

menu {
  list-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  border: none;
}

label,
select {
  display: block;
  width: 100%;
}

option,
input[type="number"] {
  padding: 0.5em;
}

table {
  border-collapse: collapse;
  background-color: var(--clr-dark);
  color: white;
}

thead {
  background-color: hsl(0 0% 0% / 0.5);
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5em;
}

ul,
ol {
  list-style-position: inside;
}

kbd {
  all: unset;
  font-weight: 700;
}

/* Features */
.site-header,
.site-footer {
  padding: 1em 0;
  background-color: var(--clr-light);
}

@media (width > 720px) {
  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.timer {
  display: block;
  margin: 5vh 0;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

.pomodoro-goal-indicators {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: calc(2px + 2px);
}

.pomodoro-goal-indicators > span {
  content: "";
  width: 1em;
  height: 1em;
  outline: solid 2px var(--clr-success);
  outline-offset: 2px;
  border-radius: 50%;
}

.pomodoro-goal-indicators > span.active {
  background-color: var(--clr-success);
}

/* Components */
.modal {
  margin: auto;
  width: min(64ch, 100vw - 1em * 2);
  max-height: 80%;
  padding: 1em;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

[data-dismiss="modal"] {
  all: unset;
  width: 1em;
  height: 1em;
  background: transparent url("cross.svg") center/1em auto no-repeat;
  opacity: 0.5;
  cursor: pointer;
}

[data-dismiss="modal"]:hover {
  opacity: 0.8;
}

.modal__body table {
  width: 100%;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus,
.active {
  filter: brightness(90%);
}

.button--primary {
  background-color: var(--clr-primary);
}

.button--success {
  background-color: var(--clr-success);
}

.button--danger {
  background-color: var(--clr-danger);
}

.button--light {
  background-color: var(--clr-light);
}

.button--dark {
  background-color: var(--clr-dark);
  color: white;
}

.button-group {
  display: flex;
  gap: 0.5em;
}

/* Utilities */
.flow > * + * {
  margin-top: 1em;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding: 0 1em;
}

.even-columns {
  display: grid;
  gap: 1em;
}

@media (width > 720px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.justify-center {
  justify-content: center;
}
